.background:not(widget),
dialog,
headerbar,
stack,
paned
{
    background-color:   @theme_bg_color;
    color:              @theme_fg_color;
}

actionbar
{
	padding: 8px 6px 2px 6px;
}

.gtkstyle-fallback:disabled,
*:disabled
{
    color:              @theme_mid_shadow_color;
    text-shadow:        1px 1px 0px @theme_full_highlight_color;
    -gtk-icon-shadow:   1px 1px @theme_full_highlight_color;
    -gtk-icon-effect:   dim;
}

.gtkstyle-fallback:selected,
* text selection,
selection,
:selected
{
	background-color:   @theme_selected_bg_color;
	color:              @theme_selected_fg_color;
}

/* Fix for applications that have issues finding a default monospace font */
/* https://github.com/mate-desktop/mate-themes/issues/145 */
.monospace
{
    font-family:    Monospace;
}

/****************/
/*  3D objects  */
/****************/

/*  Full 3D (2px bevel) */
button,
slider,
notebook.frame > stack,
notebook tab
{
    background-color:   @theme_bg_color;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

/*  Full 3D (2px bevel, slightly darker highlight outside) */
menu,
scrollbar slider
{
    background-color:   @theme_bg_color;
	box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

/*  Full 3D recessed (2px bevel, darker shadow outside)    */
button:active,
button.toggle:checked,
button.radio:checked,
*.sidebar
{
    box-shadow: inset  2px  2px 0px 0px @theme_mid_shadow_color,
                inset -2px -2px 0px 0px @theme_mid_highlight_color,
                inset  1px  1px 0px 0px @theme_full_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

/*  Full 3D recessed (2px bevel, darker shadow inside)  */
scale trough,
scrolledwindow,
spinbutton,
viewport
{
    box-shadow: inset  2px  2px 0px 0px @theme_full_shadow_color,
                inset -2px -2px 0px 0px @theme_mid_highlight_color,
                inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

/*  Full 3D recessed
        - 2px bevel
        - darker shadow inside
        - medium highlight inside (for contrast with light background)  */
entry,
combobox,
switch
{
    box-shadow: inset  2px  2px 0px 0px @theme_full_shadow_color,
                inset -2px -2px 0px 0px @theme_bg_color,
                inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

/*  Low 3D recessed (1px bevel)    */
progressbar,
levelbar trough,
menuitem:hover
{
    box-shadow: inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

/**********************/
/*  Header bar (CSD)  */
/**********************/

headerbar
{
    padding: 4px;
}

/************/
/*  Button  */
/************/

button,
button.color,
button.text-button.toggle,
button.text-button.radio,
button.titlebutton,
button.image-button,
button.flat,
button.font,
button.file,
button.toggle.popup,
button.link
{
    -gtk-icon-style:    regular;
    padding:            5px;
    min-height:         18px;
    min-width:          14px;
}

button:focus
{
    outline:        1px dotted @theme_fg_color;
    outline-offset: -5px;
}

spinbutton button
{
    -gtk-icon-style: symbolic;
}

button:active,
button.toggle:checked,
button.radio:checked
{
    padding:    6px 4px 4px 6px;
}

/*
    Disable recessed offset on buttonbox button contents; buttonboxes are weird,
    and changing the padding affects all buttons in the box, at least in certain
    apps    

    Issue #20
*/
buttonbox button:active
{
    padding:    5px;
}

button.toggle:checked,
button.radio:checked
{
    background-color:   @theme_mid_highlight_color;
}

*:link,
button.link
{
    color:  @theme_link_color;
}

*:visited,
button.link:visited
{
    color:  @theme_visited_link_color;
}

button.link label
{
    text-decoration:    underline;
}

button:disabled
{
    color:          @theme_mid_shadow_color;
    text-shadow:    1px 1px 0px @theme_full_highlight_color;
}

button:disabled image
{
    -gtk-icon-shadow:   none;
    opacity:            0.33;
}

button.flat:not(:hover):not(:checked)
{
	box-shadow: none;
}

button.flat.toggle:active
{
    padding:    6px 4px 4px 6px;
}

button:disabled
{
    -gtk-icon-shadow:   none;
}

button.flat:disabled
{
	text-shadow:        none;
    -gtk-icon-shadow:   none;
}

button.flat:disabled image
{
	opacity:    0.333;
}

/***********/
/*  Entry  */
/***********/

entry
{
    background-color:   @theme_base_color;
    padding:            5px;
}

entry:disabled
{
    background-color:   @theme_bg_color;   
    text-shadow:        none;
}

entry selection
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
}

/**********/
/*  Menu  */
/**********/

menubar
{
    box-shadow: inset  1px  1px 0px 0px @theme_full_highlight_color,
                inset -1px -1px 0px 0px @theme_mid_shadow_color;
    padding:    2px;
}

menuitem
{
    padding:    4px 6px 4px 6px;
}

menuitem:hover
{
    padding:    5px 5px 3px 7px;
}

menu menuitem
{
    padding:    4px 6px 4px 6px;
}

menu menuitem:hover
{
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
    color:              @theme_selected_fg_color;
    padding:            4px 6px 4px 6px;
    box-shadow:         none;
}

menuitem > arrow
{
    min-height: 14px;
    min-width:  16px;
    color:      @theme_fg_color;
}

menuitem:hover > arrow
{
    color:  @theme_selected_fg_color;
}

menu > menuitem > arrow:dir(ltr),
.menu > menuitem > arrow:dir(ltr)
{
    -gtk-icon-source:   -gtk-icontheme("pan-end-symbolic");
}

menu > menuitem > arrow:dir(rtl),
.menu > menuitem > arrow:dir(rtl)
{
    -gtk-icon-source:   -gtk-icontheme("pan-end-symbolic-rtl");
}

menu > arrow.top,
.menu > arrow.top
{
    -gtk-icon-source:   -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom,
.menu > arrow.bottom
{
    -gtk-icon-source:   -gtk-icontheme("pan-down-symbolic");
}

menu menuitem:disabled > arrow
{
	color: @theme_mid_shadow_color;
}

menu
{
    padding:    4px;
}

.context-menu
{
    font: initial;
}

/*************/
/*  Popover  */
/*************/

popover,
popover.background,
popover > *
{
    background-color:   @theme_tooltip_bg_color;
    border:             1px solid @theme_fg_color;
}

popover separator
{
    color:              transparent;
    box-shadow:         none;
    border:             0px;
    background-color:   @theme_fg_color;
    min-height:         1px;
    min-width:          1px;
}

popover separator.horizontal
{
    margin: 4px 0px;
}

popover separator.vertical
{
    margin: 0px 4px;
}

popover .flat
{
    padding:    4px;
}

popover .flat:hover
{
    box-shadow: inset  1px  1px 0px 0px @theme_selected_bg_color,
                inset -1px -1px 0px 0px @theme_selected_bg_color;
}

popover .flat:active,
popover .flat:checked
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
}

/*************/
/*  Tooltip  */
/*************/

tooltip,
.tooltip,
tooltip.background,
.tooltip.background
{
    border:             1px solid @theme_fg_color;
    background-color:   @theme_tooltip_bg_color;
    color:              @theme_fg_color;
}

/**************/
/*  Combobox  */
/**************/

/*  Comboboxes are weird and styling them is weird      */

combobox
{
    padding:    2px;
}

combobox button:focus
{
    outline:    none;
}

combobox button,
combobox arrow,
combobox button:first-child arrow
{
    box-shadow: inset  2px  2px 0px 0px @theme_full_highlight_color,
                inset -2px -2px 0px 0px @theme_mid_shadow_color,
                inset  1px  1px 0px 0px @theme_bg_color,
                inset -1px -1px 0px 0px @theme_full_shadow_color;
    padding:    0px;
    margin:     0px;
    min-width:  18px;
    min-height: 19px;
}

combobox entry
{
    box-shadow:     none;
    border:		    none;
    padding:	    3px;
    margin-bottom:  0px;
}

combobox menu
{
    background-color:   @theme_base_color;
    padding:            0px;
    border:             1px solid @theme_fg_color;
    box-shadow:         none;
    padding:            1px;
}

/*  Special styling for non-entry comboboxes	*/
combobox button cellview
{
    background-color:   @theme_base_color;
    margin:             0px;
    padding-left:       1px;
    padding-right:      3px;
}

combobox button cellview:disabled
{
    background-color:   @theme_bg_color;
    text-shadow:        none;
}

/*  Icon for non-entry button   */
combobox button:first-child arrow,
combobox arrow
{
    -gtk-icon-source:   -gtk-icontheme("pan-down-symbolic");
	padding:            3px;
    padding-left:       2px;
    padding-right:      3px;
	min-width:          13px;
	min-height:         13px;
}

/*  Entry combobox -- reveal arrow behind   */
combobox button:nth-child(2)
{
	box-shadow: none;
	border: none;
	background-color: transparent;
	background-image: none;
}

/****************/
/*  Separators  */
/****************/

separator
{
    border-left:    1px solid @theme_mid_shadow_color;
    border-top:     1px solid @theme_mid_shadow_color;
    border-right:   1px solid @theme_full_highlight_color;
    border-bottom:  1px solid @theme_full_highlight_color;
    margin:         2px;
}

button separator
{
    margin-top:     0px;
    margin-bottom:  0px;
}

toolbar separator
{
    margin:         0px;
    margin-left:    8px;
    margin-right:   8px;
}

paned separator
{
    border:     none;
    box-shadow: none;
    margin:     0px;
    padding:    0px;
}

/*******************/
/*  Progress bars  */
/*******************/

progressbar trough
{
	padding: 1px;
}

progressbar progress
{
    background-color: @theme_selected_bg_color;
}

progressbar.horizontal
{
    padding:        1px;
    padding-top:    5px;
    padding-bottom: 5px;
}

progressbar.horizontal progress
{
    padding-top:        4px;
    padding-bottom:     4px;
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
}

progressbar.vertical
{
    padding:        1px;
    padding-left:   5px;
    padding-right:  5px;
}

progressbar.vertical progress
{
    padding-left:       4px;
    padding-right:      4px;
    background-image:   linear-gradient(to right,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
}

progressbar.horizontal text
{
    font-size:  smaller;
	margin-top: -18px;
}

progressbar.vertical text
{
    font-size:      smaller;
    margin-left:    -40px;
}

.progressbar
{
    padding:            1px;
    background-color:   @theme_progressbar_main_color;
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
}

.trough
{
    background-color:   transparent;
    border:             1px solid @theme_fg_color;
    padding:            2px;
}

.trough:selected
{
    border: 1px solid @theme_base_color;
}

.progressbar:disabled
{
    background-color:   @theme_base_color;
    background-image:   linear-gradient(to bottom,
                                        alpha(@theme_progressbar_highlight_color, 0.5),
                                        alpha(@theme_progressbar_main_color, 0.5));
}

/*  Weird bug: SELECTED torrent progress bars in Transmission don't theme
    properly a solid color, so we use a same-color gradient here instead.   */
.progressbar:selected
{
    background-color:   @theme_base_color;
    background-image:   linear-gradient(to bottom, @theme_base_color, @theme_base_color);
}

.progressbar:selected
{
    color: @theme_selected_bg_color;
}

.progressbar
{
    color: @theme_selected_fg_color;
}

.progressbar:disabled
{
    color:              @theme_mid_shadow_color;
    text-shadow:        none;
    background-color:   @theme_titlebar_inactive_right_color;
    background-image:   linear-gradient(to bottom,
                                        @theme_titlebar_inactive_right_color,
                                        @theme_titlebar_inactive_right_color);
}

.trough:disabled
{
    text-shadow: none;
}

/*
    BUG: for some reason, the "selected" text color works in GTKInspector live
    preview, but not when the theme is saved and loaded.
*/

.progressbar:selected
{
    color: @theme_progressbar_main_color;
}
.progressbar:disabled:selected
{
    color: @theme_mid_shadow_color;
}
.trough:disabled:selected
{
    color: @theme_mid_highlight_color;
}

/***********/
/*  Scale  */
/***********/

scale
{
    padding:    9px;
}

scale label
{
    margin-top: 12px;
}

scale trough
{
    min-width:  4px;
    min-height: 4px;
}

scale.vertical slider
{
    min-width:  22px;
    min-height: 12px;
    margin:     0px -11px 0px -11px;
}

scale.horizontal slider
{
    min-width:  12px;
    min-height: 22px;
    margin:     -11px 0px -11px 0px;
}

scale:focus trough
{
    outline:        1px dotted @theme_fg_color;
    outline-offset: 10px;
}

/************/
/*  Switch  */
/************/

switch slider
{
    margin: 2px;
}

switch:checked
{
    background-color:   @theme_progressbar_main_color;
    color:              @theme_titlebar_active_fg_color;
    text-shadow:        none;
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_main_color,
                                        @theme_progressbar_highlight_color);
}

switch
{
    color:  @theme_deep_shadow_color;
}

/***********/
/*  Frame  */
/***********/

frame
{
    padding:            8px;
    border-left:        1px solid @theme_mid_shadow_color;
    border-top:         1px solid @theme_mid_shadow_color;
    border-right:       1px solid @theme_full_highlight_color;
    border-bottom:      1px solid @theme_full_highlight_color;
    box-shadow:         inset +1px +1px @theme_full_highlight_color,
                        inset -1px -1px @theme_mid_shadow_color;
    border-radius:      0px;
    background-color:   transparent;
}

frame > label
{
    padding-left:       2px;
    padding-right:      2px;
    margin-left:        -3px;
    margin-top:         -16px;
    background-color:   @theme_bg_color;
}

/*****************/
/*  Spin button  */
/*****************/

spinbutton
{
    padding:    2px;
}

spinbutton entry
{
    border:             none;
    background-color:   @theme_base_color;
    padding:            0px;
    padding-left:       4px;
    box-shadow:         none;
}

spinbutton:disabled
{
    text-shadow:    none;
}

spinbutton:disabled entry
{
    background-color:   @theme_bg_color;
}

spinbutton button
{
    padding:    2px;
}

spinbutton button:active
{
    padding:    3px 1px 1px 3px;
}

/*********************/
/*  Scrolled window  */
/*********************/

scrolledwindow
{
	padding:            2px;
    background-color:   @theme_bg_color;
}

.view
{
	background-color: @theme_base_color;
}

scrolledwindow :selected
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
}

scrolledwindow button
{
	min-height: 12px;
}

/*************/
/*  Sidebar  */
/*************/

*.sidebar
{
    background-color:   @theme_base_color;
    color:              @theme_fg_color;
    margin:             4px 0px 0px 4px;
    -gtk-icon-style:    regular;
}

*.sidebar label
{
    margin-left:    8px;
}

*.sidebar box
{
    background-color:   @theme_base_color;
    margin-left:        1px;
    margin-right:       1px;
}

*.sidebar :selected,
*.sidebar :selected box
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
}

*.sidebar row
{
    padding:        6px;
    margin-left:    2px;
    margin-right:   2px;
}

*.sidebar button
{
    padding:            0px;
    box-shadow:         none;
    background-color:   transparent;
    -gtk-icon-style:    symbolic;
}

*.sidebar :selected button
{
    color:  @theme_fg_color;
    color:  @theme_selected_fg_color;
}

*.sidebar button:active
{
    background-color:   transparent;
    color:              @theme_progressbar_main_color;
}

*.sidebar button :first-child
{
    margin: 0px;
}

*.sidebar button:focus
{
    outline:    none;
}

/****************/
/*  Status bar  */
/****************/

statusbar frame
{
    padding:    0px;
    margin:     0px;
}

statusbar frame label
{
    background-color:   transparent;
}

/**************/
/*  Notebook  */
/**************/

notebook tab
{
    padding:    3px 8px;
    margin-top: 2px;
}

notebook tab button
{
    box-shadow: none;
    border:     0px;
    padding:    2px;
}

notebook header.top tab,
notebook header.bottom tab
{
    padding:    4px 6px;
}

notebook header.top tab
{
    border-radius:      3px 3px 0px 0px;
    margin-bottom:      0px;
    margin-top:         2px;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @transparent,                   /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @transparent;                   /*  outer highlight (bottom)  */
}

notebook header.top tab:checked
{
    margin-top:      0px;
    margin-bottom:  -2px;
    padding-top:     2px;
}

notebook header.top tab:checked
{
    padding-top: 3px;
    padding-bottom: 5px;
}

notebook header.bottom tab
{
    border-radius:      0px 0px 3px 3px;
    margin-top:         0px;
    margin-bottom:      2px;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @transparent,                   /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @transparent,                   /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

notebook header.bottom tab:checked
{
    margin-bottom:  0px;
    margin-top:     -2px;
    padding-bottom: 2px;
}

notebook header.left tab
{
    border-radius:      3px 0px 0px 3px;
    margin-right:       0px;
    margin-left:        2px;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @transparent,                   /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @transparent,                   /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

notebook header.left tab:checked
{
    margin-left:     0px;
    margin-right:   -2px;
    padding-left:    2px;
}

notebook header.right tab
{
    border-radius:      0px 3px 3px 0px;
    margin-left:        0px;
    margin-right:       2px;
	box-shadow:         inset  2px  0px 0px 0px @transparent,                   /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @transparent,                   /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

notebook header.right tab:checked
{
    margin-right:    0px;
    margin-left:    -2px;
    padding-right:   2px;
}

notebook header.left tab,
notebook header.right tab
{
    margin-top:     0px;
    margin-bottom:  0px;
}

notebook.frame > stack
{
    padding:    4px;
}

/***************/
/*  Scrollbar  */
/***************/

scrollbar trough
{
    background-color:   @theme_mid_highlight_color;
    min-width:          16px;
    min-height:         16px;
}

scrollbar slider
{
    min-width:  16px;
    min-height: 16px;
}

scrollbar button
{
    min-width:          14px;
    min-height:         14px;
    padding:            1px;
    margin:             0px;
    -gtk-icon-source:   -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up
{
    -gtk-icon-source:   -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.up
{
    -gtk-icon-source:   -gtk-icontheme("pan-start-symbolic");
}

scrollbar.horizontal button.down
{
    -gtk-icon-source:   -gtk-icontheme("pan-end-symbolic");
}

scrollbar button:active
{
    padding:    1px 0px 0px 1px;
}

scrollbar.horizontal
{
    margin-top: -3px;
}

scrollbar.vertical
{
    margin-left:    -3px;
}

scrollbar button:disabled
{
	-gtk-icon-shadow: 1px 1px @theme_full_highlight_color;
}

/******************/
/*  Radio button  */
/******************/

radio
{
    min-width:          15px;
    min-height:         15px;
    background-image:   url("../assets/radio-unchecked.png");
    -gtk-icon-source:   url("../assets/radio-unchecked.png");
}

radio:active,
radio:checked
{
    background-image:   url("../assets/radio-checked.png");
    -gtk-icon-source:   url("../assets/radio-checked.png");
}

radio:disabled
{
    background-image:   url("../assets/radio-unchecked-disabled.png");
    -gtk-icon-source:   url("../assets/radio-unchecked-disabled.png");
}

radio:active:disabled,
radio:checked:disabled
{
    background-image:   url("../assets/radio-checked-disabled.png");
    -gtk-icon-source:   url("../assets/radio-checked-disabled.png");
}

radio:indeterminate
{
    background-image:   url("../assets/radio-mixed.png");
    -gtk-icon-source:   url("../assets/radio-mixed.png");
}

radio:indeterminate:disabled
{
    background-image:   url("../assets/radio-mixed-disabled.png");
    -gtk-icon-source:   url("../assets/radio-mixed-disabled.png");
}

radio:disabled
{
    -gtk-icon-shadow:   none;
}

/**************/
/*  Checkbox  */
/**************/

check
{
    min-width:          15px;
    min-height:         15px;
    margin-right:       3px;
    background-image:   url("../assets/checkbox-unchecked.png");
    -gtk-icon-source:   url("../assets/checkbox-unchecked.png");
}

check:active,
check:checked
{
    background-image:   url("../assets/checkbox-checked.png");
    -gtk-icon-source:   url("../assets/checkbox-checked.png");
}

check:disabled
{
    background-image:   url("../assets/checkbox-unchecked-disabled.png");
    -gtk-icon-source:   url("../assets/checkbox-unchecked-disabled.png");
}

check:active:disabled,
check:checked:disabled
{
    background-image:   url("../assets/checkbox-checked-disabled.png");
    -gtk-icon-source:   url("../assets/checkbox-checked-disabled.png");
}

check:indeterminate
{
    background-image:   url("../assets/checkbox-mixed.png");
    -gtk-icon-source:   url("../assets/checkbox-mixed.png");
}

check:indeterminate:disabled
{
    background-image:   url("../assets/checkbox-mixed-disabled.png");
    -gtk-icon-source:   url("../assets/checkbox-mixed-disabled.png");
}

checkbutton label
{
    padding-left:   1px;
}

check:disabled
{
    -gtk-icon-shadow:   none;
}

/*  This is to put a dashed outline around FOCUSED checkbuttons and radio
    buttons... it doesn't work if you specify :focus, and not specifying
    anything (as below) doesn't affect checkbuttons in another other state.
    GTK bug??   */
checkbutton,
radiobutton
{
	outline:        1px dotted @theme_fg_color;
}

/**************/
/*  Levelbar  */
/**************/

levelbar
{
    min-width:  32px;
    min-height: 4px;
}

levelbar.vertical
{
    min-width:  3px;
    min-height: 32px;
}

levelbar trough
{
    padding:    2px;
}

levelbar.horizontal block
{
    min-height: 4px;
}

levelbar.vertical block
{
    min-width:  4px;
}

levelbar block.filled
{
    border:             none;
    background-color:   @theme_progressbar_main_color;
}

levelbar.continuous block.filled
{
    padding:    0px;
}

levelbar.discrete.horizontal block.filled
{
    margin: 0px 1px;
}

levelbar.discrete.horizontal trough
{
    padding-left:   1px;
    padding-right:  1px;
}

levelbar.discrete.vertical trough
{
    padding-top:    0px;
    padding-bottom: 0px;
}

levelbar.discrete.vertical block.filled
{
    margin: 1px 0px;
}

levelbar.horizontal block
{
    padding-top:    1px;
}

levelbar.vertical block
{
    padding-left:   1px;
}

levelbar.horizontal block.filled
{
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
}

levelbar.vertical block.filled
{
    background-image:   linear-gradient(to right,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
}

/*******************/
/*  Color chooser  */
/*******************/

colorswatch
{
    border:         1px solid @theme_fg_color;
    margin-left:    -1px;
}

scale.vertical.color trough
{
    min-width:      16px;
    padding:        2px;
    margin-top:     -8px;
    margin-bottom:  -8px;
}

scale.vertical.color slider
{
    margin:     -4px;
    min-width:  25px;
    min-height: 14px;
}

scale.horizontal.color trough
{
    min-height:     16px;
    padding:        2px;
    margin-left:    -8px;
    margin-right:   -8px;
}

scale.horizontal.color slider
{
    margin:     -4px;
    min-height: 25px;
    min-width:  14px;
}

/**************/
/*  Expander  */
/**************/

expander label
{
	margin: 0;
}

expander
{
    color: @theme_fg_color;
}

expander arrow
{
    min-width: 16px;
    min-height: 16px;
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

expander arrow:dir(rtl)
{
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

expander arrow:checked
{
	-gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

/**************/
/*  Viewport  */
/**************/

viewport
{
	background-color: @theme_base_color;
}

viewport :disabled
{
    color:          @theme_mid_shadow_color;
    text-shadow:    none;
}

scrolledwindow > viewport
{
	box-shadow: none;
}

/*************/
/*  Toolbar  */
/*************/

toolbar
{
    box-shadow: inset  1px  1px 0px 0px @theme_full_highlight_color,
                inset -1px -1px 0px 0px @theme_mid_shadow_color;
    padding:    4px;
}

/*
Redundant code, doesn't appear to be necessary

toolbar button
{
    padding:    5px;
}

toolbar button:active,
toolbar button:checked
{
    padding:    6px 4px 4px 6px;
}
*/

/**************/
/*  Calendar  */
/**************/

calendar.view
{
    border:         1px solid @theme_fg_color;
}

calendar .header
{
    color:              @theme_titlebar_active_fg_color;
    background-color:   @theme_progressbar_main_color;
    background-image:   none;
    border-top:         1px solid @theme_fg_color;
    border-left:        1px solid @theme_fg_color;
    border-right:       1px solid @theme_fg_color;
}

calendar.header:disabled
{
    color:              @theme_titlebar_active_fg_color;
    background-color:   @theme_progressbar_main_color;
    text-shadow:        none;
    border-top:         1px solid @theme_deep_shadow_color;
    border-left:        1px solid @theme_deep_shadow_color;
    border-right:       1px solid @theme_deep_shadow_color;
}

calendar
{
    -gtk-icon-shadow:   none;
}

calendar.highlight
{
    background-color:   mix(@theme_progressbar_highlight_color, @theme_bg_color, 0.5);
    color:              @theme_titlebar_active_fg_color;
}


calendar.highlight:disabled
{
    color:              @theme_titlebar_active_fg_color;
    background-color:   @theme_titlebar_inactive_right_color;
    text-shadow:        none;
}

calendar.view:disabled
{
    background-color:   @theme_mid_highlight_color;
}

calendar:indeterminate
{
    color:  alpha(@theme_selected_bg_color, 0.333);
}

calendar:active
{
    color: @theme_selected_bg_color;
}

calendar:selected
{
    color:              @theme_selected_fg_color;
    background-color:   @theme_selected_bg_color;
}

calendar .button,
calendar .button:hover
{
    color:              @theme_selected_fg_color;
    background-color:   transparent;
    background-image:   none;
    border:             none;
    box-shadow:         none;
}

calendar:disabled:selected
{
	text-shadow: none;
	background-color: @theme_titlebar_inactive_right_color;
}

calendar:disabled:indeterminate
{
	color: @theme_titlebar_inactive_fg_color;
	text-shadow: none;
}

/**************/
/*  Treeview  */
/**************/

treeview
{
	background-color:   @theme_base_color;
}

treeview :hover:not(:selected),
treeview.view :hover:not(:selected)
iconview.cell:hover
{
    background-color:   mix(@theme_selected_bg_color, @theme_base_color, 0.75);
}

treeview header button,
treeview header button:hover:not(:selected)
{
	background-color: @theme_bg_color;
}

treeview.view :selected
{
    color:              @theme_selected_fg_color;
    background-color:   @theme_selected_bg_color;
}

/*  Keep treeviews from jumping, separators drawn at 0 by default until hovered     */
treeview.view.separator,
treeview.view.separator:hover
{
    min-height:     2px;
}

iconview.cell:selected
{
    color:              @theme_selected_fg_color;
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
}
