/*************/
/*  LightDM  */
/*************/

#panel_window > *
{
    box-shadow: none;
}

#panel_window
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.lightdm-gtk-greeter,
#login_window.background,
#login_window.background.lightdm-gtk-greeter
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.lightdm-gtk-greeter,
.lightdm-gtk-greeter box.vertical,
#login_window.background.lightdm-gtk-greeter,
#login_window.background.lightdm-gtk-greeter box.vertical {}

.lightdm-gtk-greeter frame,
#login_window.background.lightdm-gtk-greeter frame
{
    border-style:   none;
    box-shadow:     none;
}

#user_image
{
    padding:    1px;
    box-shadow: inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

#user_image_border {}

#greeter_infobar
{
    font-weight:        bold;
    background-color:   @theme_warning_bg_color;
    color:              @theme_warning_fg_color;
    margin:             12px 2px 8px 2px;
}

/* the weird panel */
.lightdm-gtk-greeter separator {
    border-style: none;
    border-width: 0px;
    color: @theme_fg_color;
}
