.dialog-vbox
{
    background-color:   @theme_bg_color;
    color:              @theme_fg_color;
}

/**********/
/*  Caja  */
/**********/

.caja-notebook .view
{
    background-color:   @theme_base_color;
}

.caja-notebook .rubberband,
.background.rubberband
{
    border:             1px solid @theme_selected_bg_color;
    background-color:   alpha(@theme_selected_bg_color, 0.125);
}

.caja-notebook scrollbar
{
    margin: 0;
}

.caja-notebook *:selected
{
    background-color:   @theme_selected_bg_color_2;
    color:              @theme_selected_fg_color;
}

.caja-desktop-window *
{
    background-color:   transparent;
    background-image:   none;
    box-shadow:         none;
    border:             0px;
    padding:            0px;
}

.caja-desktop-window *:selected,
.caja-desktop-window :active,
.caja-notebook .view *:selected,
.caja-notebook .view :active
{
    background-color:   mix(@theme_selected_bg_color, white, 0.5);
    background-image:   linear-gradient(to bottom,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color);
    color:              @theme_selected_fg_color;
}

.caja-desktop-window scrollbar *:selected,
.caja-desktop-window scrollbar :active,
.caja-notebook .view scrollbar *:selected,
.caja-notebook .view scrollbar :active
{
    background-color:   @theme_bg_color;
    background-image:   none;
}

.caja-navigation-window .caja-side-pane :selected
{
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
}

.caja-navigation-window .caja-side-pane :selected icon
{
    background-color:   transparent;
    color:              @theme_selected_bg_color;
}

.caja-navigation-window .caja-side-pane button.flat
{
    box-shadow: none;
}

.caja-navigation-window .caja-side-pane button.toggle.flat
{
    box-shadow:         inset  2px  2px 0px 0px @theme_full_shadow_color,
                        inset -2px -2px 0px 0px @theme_bg_color,
                        inset  1px  1px 0px 0px @theme_mid_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
    background-color:   @theme_base_color;
}

.caja-navigation-window .caja-side-pane button.toggle.flat image
{
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
    margin:             -3px;
    background-color:   @theme_bg_color;
    min-width:          20px;
}

.caja-navigation-window .caja-side-pane menu
{
    box-shadow:         none;
    border:             1px solid @theme_fg_color;
    background-color:   @theme_base_color;
    padding:            1px;
}

.caja-navigation-window .caja-side-pane button.toggle.flat:checked :first-child
{
    margin: 0;
}

.caja-navigation-window statusbar frame
{
    box-shadow: inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
    border:     0px;
    margin:     4px -8px 2px -8px;
    padding:    1px 2px;
}

.caja-navigation-window toolbar button
{
    padding:    3px;
}

.caja-navigation-window toolbar button :first-child
{
    margin:     0px;
    padding:    0px;
}

.caja-navigation-window toolbar button:active,
.caja-navigation-window toolbar button.toggle:checked
{
    padding:    4px 2px 2px 4px;
}

.caja-navigation-window toolbar button:active :first-child
{
    margin: 0px;
}

.caja-notebook stack
{
    box-shadow: none;
    border:     0px;
}

.caja-notebook box.vertical frame
{
    background-color:   @theme_progressbar_highlight_color;
    padding:            4px 2px 4px 0px;
    background-image:   linear-gradient(to bottom,
                                        alpha(@theme_progressbar_main_color, 0.5),
                                        alpha(@theme_progressbar_highlight_color, 0.5));
    box-shadow:         inset  2px  2px 0px 0px @theme_full_shadow_color,
                        inset -2px -2px 0px 0px @theme_mid_highlight_color,
                        inset  1px  1px 0px 0px @theme_mid_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
    border:             none;
    margin:             1px;
    margin-bottom:      4px;
}

.caja-notebook box.vertical frame box > label
{
    text-shadow:    1px 1px @theme_progressbar_main_color;
}

.caja-notebook box.vertical frame box button.flat
{
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.caja-notebook box.vertical frame label
{
    background-color:   transparent;
    color:              @theme_selected_fg_color;
    font-weight:        bold;
    font-size:          150%;
    margin-top:         0px;
    padding-left:       8px;
}

.caja-notebook box.vertical frame button label
{
    background-color:   transparent;
    color:              @theme_fg_color;
    font-weight:        normal;
    font-size:          100%;
    padding-left:       0px;
}

.caja-notebook box.vertical frame button:disabled label
{
    color:  @theme_mid_shadow_color;
}

.caja-notebook box.vertical frame button
{
	padding-left: 8px;
	padding-right: 8px;
}

.caja-notebook box.vertical frame button:active
{
	padding-left: 9px;
	padding-right: 7px;
}

.caja-notebook box.vertical frame button:disabled label
{
    color:  @theme_mid_shadow_color;
}

.caja-notebook box.vertical frame combobox arrow
{
	margin-right: -8px;
}

.caja-notebook box.vertical frame combobox cellview
{
	margin-left: -8px;
}

.caja-notebook box.vertical frame combobox
{
	margin-left: 8px;
}

.caja-notebook box.vertical frame combobox menu menuitem > *
{
	margin-left: 0px;
}

*.rubberband,
* .rubberband
{
    color:              @theme_selected_bg_color;
    background-color:   alpha(@theme_selected_bg_color, 0.125);
}

.caja-desktop-window *,
.caja-notebook .view *
{
    border-radius:  0px;
}

.caja-desktop .entry,
.caja-navigation-window .view .entry
{
    background-color:   @theme_base_color;
    background-image:   none;
    color:              @theme_fg_color;
    border:             1px solid @theme_fg_color;
}

.caja-desktop .entry > *:selected,
.caja-navigation-window .view .entry > *
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
}

.caja-desktop .entry:focus:selected,
.caja-navigation-window .entry:focus:selected
{
    background-color:   @theme_selected_bg_color;
    color:              @theme_selected_fg_color;
}

.caja-navigation-window toolbar combobox button
{
    padding:    0px;
}

.caja-navigation-window toolbar combobox cellview
{
    padding-left:   2px;
}

.caja-navigation-window toolbar combobox
{
    margin-left:    8px;
    margin-right:   8px;
}

.caja-pathbar button:disabled image
{
    -gtk-icon-shadow: 1px 1px @theme_full_highlight_color;
    opacity: 1.0;
}

.caja-notebook tab:checked
{
    font-weight:     bold;
}

.caja-notebook tab *
{
    margin-top: 1px;
}

.caja-notebook > header
{
    padding-left:   2px;
    padding-right:  2px;
    padding-top:    4px;
}

#caja-tab-close-button
{
    padding:    0px 2px;
}

.caja-side-pane notebook stack scrolledwindow .popup menu
{
    background-color:   @theme_bg_color;
    border:             none;
    box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
    padding:            3px;
}

/***********/
/*  Pluma  */
/***********/

/*
    TODO
    Minor BUG: pluma notebook tab has tiny top margin (padding?) if it's the
    only tab. If there are >= 2 tabs, then all of them look normal.
*/

.pluma-window notebook stack
{
    padding:        4px;
    margin-bottom:  4px;
    margin-left:    2px;
    margin-right:   2px;
    box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.pluma-window notebook tab:checked
{
	margin-bottom: -1px;
}

.pluma-window statusbar
{
    margin-left:    -8px;
    margin-bottom:  2px;
}

.pluma-window statusbar frame,
statusbar > frame
{

    box-shadow:     inset  1px  1px 0px 0px @theme_mid_shadow_color,
                    inset -1px -1px 0px 0px @theme_full_highlight_color;
    border:         0px;
    margin-right:   8px;
}

.pluma-window statusbar frame box label
{
    margin: 0px;
}

.pluma-window statusbar button.toggle
{
    box-shadow:         inset  2px  2px 0px 0px @theme_full_shadow_color,
                        inset -2px -2px 0px 0px @theme_bg_color,
                        inset  1px  1px 0px 0px @theme_mid_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
    background-color:   @theme_base_color;
    padding:            5px;
}

.pluma-window statusbar button.toggle label,
.pluma-window statusbar button.toggle:checked label
{
    margin-right:   8px;
}

.pluma-window statusbar button.toggle
{
    padding:    2px;
}

.pluma-window statusbar button.toggle:focus
{
    outline:    none;
}

.pluma-window statusbar button.toggle image
{
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
    background-color:   @theme_bg_color;
    min-width:          18px;
    min-height:         22px;
    margin-left:        8px;
}

#pluma-status-combo-button
{
    box-shadow:         inset  2px  2px 0px 0px @theme_full_shadow_color,
                        inset -2px -2px 0px 0px @theme_bg_color,
                        inset  1px  1px 0px 0px @theme_mid_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
}

.pluma-window notebook
{
    margin: 0px;
}

.pluma-window notebook header
{
    margin-left:    3px;
}

.pluma-window textview
{
    padding-left:   8px;
    padding-right:  8px;
}

.pluma-window textview > :first-child
{
    background-color:   @theme_bg_color;
    box-shadow:         inset -1px 0px 0px 0px @theme_fg_color;
}

/*  Remove box around File Browser toolbar  */
window.background.pluma-window box.vertical paned.horizontal box.vertical notebook.frame box.vertical toolbar.horizontal
{
    box-shadow: none;
}

/*****************/
/*  Eye of MATE  */
/*****************/

.eom-window statusbar frame
{
    margin-left:    -8px;
    box-shadow:     inset  1px  1px 0px 0px @theme_mid_shadow_color,
                    inset -1px -1px 0px 0px @theme_full_highlight_color;
    border:         0px;
    margin:         4px -8px 2px -8px;
    padding:        4px 0px 4px 0px;
    min-height:     16px;
}

/***********/
/*  Panel  */
/***********/

/*  Note:   I wanted the notification area to sit in a recessed box like in
            classic Windows, but that affects a whole class of panel applet
            frames and makes them look terrible.  (Example: window list sits in
            the same kind of tray as the notification area, and you can see the
            top and bottom borders in between the window list buttons)      */

.mate-panel-menu-bar
{
    background-color:   @theme_bg_color;
}

.mate-panel-menu-bar grid
{
    background-color:   @theme_bg_color;
    padding:            2px;
    padding-top:        4px;
    box-shadow:         inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset  0px  1px 0px 0px @theme_mid_highlight_color;     /*  outer highlight (top)     */
}

#tasklist-button
/*,
#PanelApplet button.toggle.flat,
.mate-panel-menu-bar button.toggle.flat
*/
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
    margin-left:        1px;
    margin-right:       2px;
}

#tasklist-button:checked,
#PanelApplet button.toggle.flat:checked,
.mate-panel-menu-bar button.toggle.flat:checked
{
    background-color: @theme_mid_highlight_color;
    box-shadow: inset  2px  2px 0px 0px @theme_full_shadow_color,
                inset -2px -2px 0px 0px @theme_bg_color,
                inset  1px  1px 0px 0px @theme_mid_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

#tasklist-button:checked
{
    font-weight: bold;
}

#clock-applet-button
{
	padding: 2px;
}

/*#clock-applet-button,*/
#clock-applet-button:checked,
#clock-applet-button:active
{
    padding:        2px;
    padding-left:   8px;
    padding-right:  8px;
    box-shadow:     inset  1px  1px 0px 0px @theme_mid_shadow_color,
                    inset -1px -1px 0px 0px @theme_full_highlight_color;
    border:         0px;
    margin:         0px;
}

#clock-applet-button :first-child
{
    margin: 0;
}

#MatePanelPopupWindow
{
    background-color:   @theme_bg_color;
	box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

#MatePanelPopupWindow :first-child
{
    margin: 0px;
}

#MatePanelPopupWindow frame
{
    margin: 4px;
}

#PanelPlug .horizontal
{
    padding:    3px;
}

MatePanelAppletFrameDBus
{
    background-image:       -gtk-scaled(url("../assets/panel-grid.png"));
    background-color:       transparent;
    background-repeat:      no-repeat;
    background-position:    left;
}

.mate-panel-menu-bar
{
    -PanelMenuBar-icon-visible: true;
}

#PanelPlug > * > box > box > box,
#PanelPlug > * > box > box
{
	padding: 0;
}

/***************/
/*  Mate Menu  */
/***************/

#mate-menu.background,
#mate-menu.background > * > box,
#mate-menu.background notebook,
#mate-menu.background viewport,
#mate-menu.background viewport grid,
#mate-menu.background > widget > box > widget > box,
#mate-menu.background > widget > box > widget > box > box > widget
{
    background-color: @theme_bg_color;
}

#mate-menu.background > * > box
{
    margin: 1px;
}

#mate-menu > * > box:first-child
{
    margin:             0px;
    padding:            1px;
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

#mate-menu.background scrolledwindow
{
    border:             0;
    background-color:   transparent;
    box-shadow:         none;
}

#mate-menu.background notebook stack scrolledwindow
{
    box-shadow:         inset  2px  2px 0px 0px @theme_full_shadow_color,
                        inset -2px -2px 0px 0px @theme_mid_highlight_color,
                        inset  1px  1px 0px 0px @theme_mid_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
    background-color:   @theme_base_color;
}


#mate-menu.background scrolledwindow label,
#mate-menu.background scrolledwindow button,
#mate-menu.background scrolledwindow button.flat
{
    box-shadow:         none;
    background-color:   transparent;
    color:              @theme_fg_color;
    border:             0;
}

#mate-menu.background scrolledwindow button:hover label,
#mate-menu.background scrolledwindow button:hover,
#mate-menu.background scrolledwindow button.flat:hover
{
    background-color:   transparent;
    color:              @theme_selected_fg_color;
}

#mate-menu.background scrolledwindow button,
#mate-menu.background scrolledwindow button.flat
{
    background-color:   transparent;
    background-image:   none;
    border:             0px;
}

#mate-menu.background scrolledwindow button:active
{
    padding:    5px;
}

#mate-menu.background scrolledwindow button:hover
{
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
    color:              @theme_selected_fg_color;
    border:             0px;
    box-shadow:         none;
}

#mate-menu.background separator,
#mate-menu.background widget notebook viewport grid widget separator
{
    min-height:         0px;
    background-color:   transparent;
    border-color:       transparent;
    border-style:       none;
    border-width:       0px 0px 0px 0px;
}


#mate-menu.background separator
{
    border-left:    1px solid @theme_mid_shadow_color;
    border-top:     1px solid @theme_mid_shadow_color;
    border-right:   1px solid @theme_full_highlight_color;
    border-bottom:  1px solid @theme_full_highlight_color;
}

#mate-menu.background notebook stack
{
	border: 0;
	box-shadow: none;
}

#mate-menu.background entry
{
    margin-bottom:  4px;
    margin-top:     2px;
}

#mate-menu.background
{
    background-color:   @theme_bg_color;
}

#mate-menu.background > widget > box > widget > box
{
    background-color:   @theme_bg_color;
    margin:             1px;
}

/*  Item submenu    */
#mate-menu.background menu menuitem:hover label
{
    color:  @theme_selected_fg_color;
}

/*  "Places" and "System" headers   */
#mate-menu.background > * > box > * > box > box > box
{
    background-color:   transparent;
    background-image:   linear-gradient(to right,
                                        @theme_progressbar_main_color,
                                        alpha(@theme_progressbar_highlight_color, 0.0));
    color:              @theme_titlebar_active_fg_color;
    margin-top:         5px;
    margin-left:        3px;
    padding-bottom:     5px;
    text-shadow:        1px 1px alpha(@theme_selected_bg_color, 0.5);
}

/*  "Applications" header   */
#mate-menu.background notebook > * > * > * > label
{
    background-color:   transparent;
    background-image:   linear-gradient(to right,
                                        @theme_progressbar_main_color,
                                        alpha(@theme_progressbar_highlight_color, 0.0));
    color:              @theme_titlebar_active_fg_color;
    margin-top:         2px;
    text-shadow:        1px 1px alpha(@theme_selected_bg_color, 0.5);
}

.mate-panel-menu-bar *:selected > *
{
    box-shadow: inset  2px  2px 0px 0px @theme_mid_shadow_color,
                inset -2px -2px 0px 0px @theme_mid_highlight_color,
                inset  1px  1px 0px 0px @theme_full_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
	background-color: @theme_mid_highlight_color;
}

.mate-panel-menu-bar *:selected > * > *
{
	margin-left: 1px;
	margin-top: 2px;
	margin-right: -1px;
}

#mate-menu.background notebook * scrolledwindow viewport
{
	background-color: @theme_base_color;
}

#mate-menu.background scrollbar button
{
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
	background-color: @theme_bg_color;
}

#mate-menu.background scrollbar button
{
    min-width:          14px;
    min-height:         14px;
    padding:            1px;
    -gtk-icon-source:   -gtk-icontheme("pan-down-symbolic");
}

#mate-menu.background scrollbar.vertical button.up
{
    -gtk-icon-source:   -gtk-icontheme("pan-up-symbolic");
}

#mate-menu.background scrollbar.horizontal button.up
{
    -gtk-icon-source:   -gtk-icontheme("pan-start-symbolic");
}

#mate-menu.background scrollbar.horizontal button.down
{
    -gtk-icon-source:   -gtk-icontheme("pan-end-symbolic");
}

#mate-menu.background scrollbar button:active,
#mate-menu.background scrollbar button:hover
{
	background-color: @theme_bg_color;
	background-image: none;
	color: @theme_fg_color;
    background-color:   @theme_bg_color;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

#mate-menu.background scrollbar button
{
	min-width: 14px;
	min-height: 14px;
	padding: 1px;
	box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

#mate-menu.background scrollbar button:active
{
	padding: 1px 0px 0px 1px;
    box-shadow: inset  2px  2px 0px 0px @theme_mid_shadow_color,
                inset -2px -2px 0px 0px @theme_mid_highlight_color,
                inset  1px  1px 0px 0px @theme_full_shadow_color,
                inset -1px -1px 0px 0px @theme_full_highlight_color;
}

#mate-menu.background scrollbar button:disabled
{
    color:          @theme_mid_shadow_color;
    text-shadow:    1px 1px 0px @theme_full_highlight_color;
}

/*
The second '>' token (between #PanelApplet and box.horizontal) seems to
filter out all panel applets _except_ for the Mate Menu button (which is
what we want)

(This would be a lot easier if these widgets had unique classes or identifiers, so we
could pick them out specifically!!)
*/

#PanelPlug.background.horizontal.mate-panel-menu-bar > #PanelApplet > box.horizontal,
#PanelPlug.background.horizontal.gnome-panel-menu-bar > #PanelApplet > box.horizontal
{
	color: @theme_fg_color;
}

/****************/
/*  Brisk Menu  */
/****************/

.brisk-button
{
    padding-left:   1px;
    padding-right:  1px;
}

.brisk-button:checked
{
    padding-left:   2px;
    padding-right:  0px;
}

.brisk-button:not(:checked)
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}
.background.brisk-menu
{
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
    background-color: @theme_bg_color;
}

.background.brisk-menu notebook
{
    box-shadow: none;
}

.background.brisk-menu button.flat
{
    box-shadow:         none;
    border:             0px;
    background-color:   transparent;
}

.background.brisk-menu button.flat:hover
{
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
    color:              @theme_selected_fg_color;
}


/*****************/
/*  Lock dialog  */
/*****************/

.lock-dialog
{
	box-shadow: inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.lock-dialog frame
{
    padding:        0px;
    margin:         0px;
    border-radius:  0px;
    box-shadow:     none;
    border:         0px;
}

/*******************/
/*  Volume applet  */
/*******************/

.mate-panel-applet-slider,
.mate-panel-applet-slider.background
{
    background: transparent;
}

.mate-panel-applet-slider.background frame
{
    box-shadow: none;
    border: 0;
}

.mate-panel-applet-slider.background frame frame
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

/********************/
/*  Multimedia OSD  */
/********************/

MsdOsdWindow.background.osd
{
    background-color:   @theme_bg_color;
	box-shadow:         inset  2px  0px 0px 0px @theme_full_highlight_color,    /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_full_highlight_color,    /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_bg_color,                /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_bg_color,                /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

MsdOsdWindow.background.osd .trough
{
    box-shadow: 1px  1px 0px 0px @theme_full_highlight_color,
                -1px -1px 0px 0px @theme_mid_shadow_color;
    border:     none;
}

MsdOsdWindow.background.osd .progressbar
{
    background-color:   @theme_progressbar_highlight_color;
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_highlight_color,
                                        @theme_progressbar_main_color);
    box-shadow:         none;
    border:             none;
    
}

/**********************/
/*  Indicator Applet  */
/**********************/

#fast-user-switch-menubar
{
    box-shadow:     none;
}

#fast-user-switch-menubar > *
{
    padding:         0px;
    margin-left:     2px;
    margin-right:   -2px;
    margin-top:      0px;
    margin-bottom:   0px;
}

#fast-user-switch-menubar > menuitem > .horizontal
{
    padding-top:    0px;
    padding-bottom: 0px;
    padding-left:   1px;
    padding-right:  1px;
}

#fast-user-switch-menubar menu menuitem > grid,
#fast-user-switch-menubar menu menuitem grid
{
    border:     0px;
    box-shadow: none;
}

#fast-user-switch-menubar menu menuitem:hover > grid,
#fast-user-switch-menubar menu menuitem:hover grid
{
    background-color:   alpha(white, 0);
    color:              @theme_selected_fg_color;
}

#PanelApplet > grid
{
    box-shadow: none;
}

/********************/
/*  Control Center  */
/********************/

#MyControlCenter scrolledwindow.frame
{
	background-color: @theme_base_color;
}

#MyControlCenter.background button.flat
{
    box-shadow:         none;
    background-color:   transparent;
    padding:            5px;
}

#MyControlCenter.background button.flat:hover
{
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        @theme_selected_bg_color_2);
    color:              @theme_selected_fg_color;
}

#MyControlCenter border.flat
{
    border:             none;
    box-shadow:         none;
    background-color:   @theme_bg_color;
}

/*
    It appears MATE Control Center applies its own styling to these labels,
    because the styling only works in GtkInspector live preview, or if the code
    is added to ~/.config/gtk-3.0/gtk.css.

    Issue #1
*/
    #MyControlCenter #slab_section_style1 > box > label,
    #MyControlCenter #slab_section_style2 > box > label
    {
            background-color:   transparent;
            background-image:   linear-gradient(to right,
                                                @theme_progressbar_main_color,
                                                alpha(@theme_progressbar_highlight_color, 0.0));
            padding:            8px;
            margin-right:       -12px;
            text-shadow:        1px 1px alpha(@theme_selected_bg_color, 0.5);
            color:              @theme_selected_fg_color;
    }

/****************/
/*  MATE Tweak  */
/****************/

window.background > box.horizontal > box.vertical > notebook > stack > box.vertical > frame
{
    margin-top:     0px;
    margin-bottom:  16px;
}

window.background > box.horizontal > box.vertical > notebook > stack > box.vertical > frame > box.vertical > label
{
    padding-bottom:  4px;
    margin-top:     -2px;
    font-size: 120%;
}

/*****************************/
/*  MATE Display Properties  */
/*****************************/

dialog.background > box.vertical > widget > box widget
{
    background-color: mix(@theme_fg_color, @theme_base_color, 0.5);
}

/**********************/
/*  onboard-settings  */
/**********************/

/*  Commented out, per issue #21.  */

/*
dialog.background > box.vertical > box.horizontal > notebook.frame box.vertical > label:first-child
{
    color:              @theme_titlebar_active_color;
    font-weight:        bold;
    background-color:   @theme_progressbar_main_color;
    padding:            16px 8px 16px 8px;
    margin:             2px;
    background-image:   linear-gradient(to right,
                                        @theme_progressbar_main_color,
                                        @theme_progressbar_highlight_color);
    border:             none;
    margin-bottom:      4px;
    text-shadow:        1px 1px @theme_progressbar_main_color;
}
*/

/*****************/
/*  gnome-disks  */
/*****************/

/*
    As with the section headings in MATE Control Center, these stylings don't
    work unless placed in the override file.

    Issue #2
*/

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal *
{
    border-radius:  0px;
}

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal
{
    border-right:   1px solid @theme_full_highlight_color;
    border-top:     1px solid @theme_mid_shadow_color;
    border-left:    1px solid @theme_mid_shadow_color;
    padding-bottom: 0px;
}

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal widget
{
    color:              @theme_fg_color;
    border:             1px solid @theme_mid_shadow_color;
    background-color:   @theme_base_color;
}

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal widget:selected
{
    color:              @theme_selected_fg_color;
    background-color:   @theme_selected_bg_color_2;
    background-image:   linear-gradient(to bottom,
                                        @theme_selected_bg_color_2, @theme_selected_bg_color);
}

/******************/
/*  emoji picker  */
/******************/

.emoji-picker,
button.emoji-section:hover
{
    background-color:   @theme_bg_color;
    box-shadow:         inset  2px  0px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (left)    */
                        inset  0px  2px 0px 0px @theme_mid_highlight_color,     /*  inner highlight (top)     */
                        inset -2px  0px 0px 0px @theme_mid_shadow_color,        /*  inner shadow    (right)   */
                        inset  0px -2px 0px 0px @theme_mid_shadow_color,        /*  inner highlight (bottom)  */
                        inset  1px  0px 0px 0px @theme_full_highlight_color,    /*  outer highlight (left)    */
                        inset  0px  1px 0px 0px @theme_full_highlight_color,    /*  outer highlight (top)     */
                        inset -1px  0px 0px 0px @theme_full_shadow_color,       /*  outer shadow    (right)   */
                        inset  0px -1px 0px 0px @theme_full_shadow_color;       /*  outer highlight (bottom)  */
}

.background.emoji-picker 
{
    background-color:   @theme_bg_color;
    border-top:         1px solid alpha(@theme_fg_color, 0.33);
}

.emoji-picker
{
    padding: 4px;
}

.emoji-picker > box.vertical
{
    border: none;
}

button.emoji-section
{
    margin-top: 2px;
}

button.emoji-section:checked,
button.emoji-section:active
{
    background-color:   @theme_bg_color;
    color:              @theme_fg_color;
    background-image:   linear-gradient(to bottom, @theme_mid_highlight_color, @theme_bg_color);
    box-shadow:         inset  2px  2px 0px 0px @theme_mid_shadow_color,
                        inset -2px -2px 0px 0px @theme_mid_highlight_color,
                        inset  1px  1px 0px 0px @theme_full_shadow_color,
                        inset -1px -1px 0px 0px @theme_full_highlight_color;
}

.emoji-picker entry.search
{
    margin-bottom: 2px;
}

.emoji-picker viewport.frame label
{
    color: @theme_selected_fg_color;
    font-weight: bold;

    padding:            6px 6px;
    margin-left:        -2px;
    background-image:   linear-gradient(to right,
                                        @theme_selected_bg_color,
                                        alpha(@theme_selected_bg_color_2, 0.0));
    text-shadow:        1px 1px alpha(@theme_selected_bg_color, 0.5);
}

.emoji-picker flowbox > *
{
    min-height: 32px;
}

.emoji-picker viewport.frame flowbox *
{
    background-color:   transparent;
    background-image:   none;
    color:              @theme_fg_color;
    text-shadow:        none;
    padding:            0px;
    margin:             0px;
}

.emoji-picker viewport.frame flowbox :hover
{
    color:              @theme_fg_color;
    border-radius:      4px;
    border:             1px solid @theme_selected_bg_color;
    background-color:   @theme_selected_bg_color;
    background-image:   linear-gradient(to bottom,
                                        mix(@theme_selected_bg_color, white, 0.5),
                                        mix(@theme_selected_bg_color_2, white, 0.5));
}

/*************************/
/*  MATE System Monitor  */
/*************************/

#mate-system-monitor > box.vertical > notebook.frame box.horizontal > box.horizontal > image
{
    background-color:   @theme_bg_color;
    background-image:   linear-gradient(to bottom,
                                        @theme_progressbar_main_color,
                                        alpha(@theme_progressbar_highlight_color, 0.0));

}
