/*****************/
/*  gnome-disks  */
/*****************/

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal *
{
    border-radius:  0px;
}

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal
{
    border-right:   1px solid @theme_full_highlight_color;
    border-top:     1px solid @theme_mid_shadow_color;
    border-left:    1px solid @theme_mid_shadow_color;
    padding-bottom: 0px;
}

.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal widget
{
    color:              @theme_fg_color;
    border:             1px solid @theme_mid_shadow_color;
    background-color:   @theme_base_color;
}


.gnome-disk-utility-grid,
window.background > box.vertical > * > notebook widget box.vertical box.vertical > box.horizontal widget:selected
{
    color:              @theme_selected_fg_color;
    background-color:   @theme_titlebar_active_right_color;
    background-image:   linear-gradient(to bottom,
                                        @theme_titlebar_active_right_color, @theme_titlebar_active_left_color);
}

/*****************************/
/*  MATE Window List applet  */
/*****************************/

#tasklist-button
{
    margin-left:    1px;
    margin-right:   2px;
}

/********************/
/*  Control Center  */
/********************/

#MyControlCenter #slab_section_style1 > box > label,
#MyControlCenter #slab_section_style2 > box > label
{
        background-color:   transparent;
        background-image:   linear-gradient(to right,
                                            @theme_titlebar_active_left_color,
                                            alpha(@theme_titlebar_active_right_color, 0.0));
        padding:            8px;
        margin-right:       -12px;
        text-shadow:        1px 1px alpha(@theme_selected_bg_color, 0.5);
        color:              @theme_titlebar_active_fg_color;
}

/***********/
/*  Pluma  */
/***********/

/*  Remove box around File Browser toolbar  */
window.background.pluma-window box.vertical paned.horizontal box.vertical notebook.frame box.vertical toolbar.horizontal
{
    box-shadow: none;
}

/****************************************/
/*  Transmission (and possibly others)  */
/*  Progress bars                       */
/****************************************/

.progressbar:selected
{
    color: @theme_progressbar_main_color;
}
.progressbar:disabled:selected
{
    color: @theme_mid_shadow_color;
}
.trough:disabled:selected
{
    color: @theme_mid_highlight_color;
}
