:root
{
    --bg-color:                 #c0c0c0 !important;
    --fg-color:                 #000000 !important;
    --base-color:               #ffffff !important;
    --full-highlight-color:     #ffffff !important;
    --mid-highlight-color:      #e0e0e0 !important;
    --mid-shadow-color:         #808080 !important;
    --full-shadow-color:        #000000 !important;
    --selection-left-color:     #000080 !important;
    --selection-right-color:    #1084d0 !important;
    --selected-fg-color:        #ffffff !important;
}

/**********/
/*  Menu  */
/**********/

menupopup
{
    -moz-apperance: none    !important;
    padding:        4px     !important;
}

menupopup menuitem,
menupopup menu
{
    padding: 2px !important;
}

menupopup menuseparator,
toolbarseparator
{
    -moz-appearance:        none                        !important;
    padding:                0px                         !important;
    margin-top:             4px                         !important;
    margin-bottom:          4px                         !important;
    margin-left:            1px                         !important;
    margin-right:           1px                         !important;
    border-top-color:       var(--mid-shadow-color)     !important;
    border-bottom-color:    var(--full-highlight-color) !important;
    border-width:           1px 0px                     !important;
    border-style:           solid                       !important;
    background-image:       none                        !important;
    background-color:       var(--bg-color)             !important;
}

toolbarseparator
{
    margin-left: 2px !important;
    margin-right: 2px !important;
}

/******************/
/*  Context menu  */
/******************/

#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-bookmarkpage
{
    background-image:   none            !important;
    color:              var(--fg-color) !important;
    background-color:   var(--bg-color) !important;
}

#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image
{}

#context-back:hover,
#context-forward:hover,
#context-reload:hover,
#context-stop:hover,
#context-bookmarkpage:hover
{
    background-color:   var(--bg-color) !important;
    background-image:   none            !important;
    color:              var(--fg-color) !important;
	box-shadow:         inset  1px  0px 0px 0px var(--full-highlight-color),
                        inset  0px  1px 0px 0px var(--full-highlight-color),
                        inset -1px  0px 0px 0px var(--full-shadow-color),
                        inset  0px -1px 0px 0px var(--full-shadow-color),
                        inset  2px  0px 0px 0px var(--mid-highlight-color),
                        inset  0px  2px 0px 0px var(--mid-highlight-color),
                        inset -2px  0px 0px 0px var(--mid-shadow-color),
                        inset  0px -2px 0px 0px var(--mid-shadow-color) !important;
}

#context-back:not([disabled]),
#context-forward:not([disabled]),
#context-reload:not([disabled]),
#context-stop:not([disabled]),
#context-bookmarkpage:not([disabled])
{
    -moz-appearance: none !important;
}

#context-back[disabled="true"],
#context-forward[disabled="true"],
#context-reload[disabled="true"],
#context-stop[disabled="true"],
#context-bookmarkpage[disabled="true"]
{
    color:      var(--mid-shadow-color) !important;
    box-shadow: none                    !important;
}
